$main-color: #ab47bc;
$text-color: #fff;
$size: 2.5rem;

.file-upload_button {
    background-color:$main-color;
    color: $text-color;
    font-weight: 500;
    font-size: 1rem;
    height: $size;
    width: $size*5;
    border-color: $main-color;
    border-radius: $size/2.5;
    outline-width: 0;
}

.file-upload_input {
    display: none;
}